# Info about this file: https://pip.pypa.io/en/latest/user_guide/#requirements-files

# This file lists all the requirements needed to run this repository.

# Run the command below to install the requirements.
# pip3 install -r requirements.txt


###### Requirements without Version Specifiers ######
coloredlogs                         # https://coloredlogs.readthedocs.io/en/latest/
parsedatetime                       # https://pypi.org/project/parsedatetime/
psycopg2
requests

###### Requirements with Version Specifiers ######
dataset==1.5.0                      # https://dataset.readthedocs.io/
#discord.py==2.0.0                   # https://discordpy.readthedocs.io/
Pillow==8.1.0                       # https://pillow.readthedocs.io/
pyyaml==5.4.1                       # https://pypi.org/project/PyYAML/
sentry-sdk==1.1.0                   # https://docs.sentry.io/platforms/python/